iframe {
  background-color: $white;
}

.box-light-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.landing-container{
  padding-left: 300px;
}

.back-button-container {
  height: 32px;
  width: 32px;
  color: #999;
  background-color: #fff;
  border-radius: 50%;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1), background-color .2s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 2px 2px 0 hsl(0deg 0% 60% / 14%), 0 3px 1px -2px hsl(0deg 0% 60% / 20%), 0 1px 5px 0 hsl(0deg 0% 60% / 12%);

  &:hover {
    box-shadow: 0 14px 26px -12px hsl(0deg 0% 60% / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px hsl(0deg 0% 60% / 20%);  
  }
}

.padding-login{
  padding-right: 6rem;
}
.padding-landing{
  padding-right: 5rem !important;
}
.container-auth {
  .card {
    border-radius: 0;
  }

  .card-title {
    color: $color-brand-light;
    font-size: 24px;
    font-weight: 400;
  }

  .card-subtitle {
    font-size: 14px;
    font-weight: 400;
  }

  .card-auth-bottom-border {
    height: 5px;
    @include themify-gradient();
  }

  .logo {
    width: 250px;
  }

  .footer {
    font-size: 0.9em;
  }

  .signup-title {
    color: black;
    font-size: 24px;
    font-weight: bold;
  }
  
  .signup-subtitle {
    font-size: 14px;
  }
}
.navbar-text{
  .box-body-nav  {
    min-height: 60px;
    max-height: 60px;
    min-width: 130px;
    flex-direction: row;
  }
  .box-body-nav:hover {
    transition: 0.3s;
    border-radius: 5px;
    background-color: rgb(184, 109, 219);
    a {
      text-decoration: none;
    }
  }
}

.navbar-custom {
  @include themify-gradient();
  box-shadow: none;
}

@media (max-width:768px)  {
  .nav-text-padding {
    padding-bottom: 0.5rem;
  }
}

.select-company-card-title-secondary {
  font-size: 14px;
  font-weight: 400;
}

.select-company-card-subtitle-secondary {
  color: $color-brand-light;
  font-size: 24px;
  font-weight: 400;
}

.profile-thumbnail {
  background-color: $color-bg-auth;
  height: 64px;
  width: 64px;
}

.container-addcompany {
  .navbar {
    padding: 0.5rem 2rem;

    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  }

  .header {
    background-color: #FFF;
  }

  .title {
    @include themify('color', color-brand-primary);
  }

  .subtitle {
    color: #6a6767;
  }

  h4 {
    color: #343434;
  }
}

.sidebar {
  background-color: white;
  flex: 0 0 13rem;
  box-shadow: 0 0 13px 0 #8A8A8A;
  z-index: 1;
  position: relative;

  // Used to wrap the sidebar content while making the collapse able to overflow.
  .sidebar-wrap {
    position: relative;
    overflow-y: auto;
    height: 100%;
    padding: 0.75rem;
  }

  .module-icon {
    width: 23px;
    height: 23px;
    padding: 1px;
  }

  .module-link {
    color: $color-text-default;
  }

  .module-link.selected {
    color: $color-brand-light;
    font-weight: 700;
  }

  .module-link:hover {
    color: $color-brand-light;
    text-decoration: none;
  }

  .feature-link-container {
    margin-left: 2.4rem;
  }

  .feature-link:hover {
    color: #000;
    text-decoration: none;
  }

  &.collapsed {
    flex: 0;

    .collapse-hide {
      display: none;
    }
  }

  .collapse-toggle {
    right: -25px;
  }
}

.collapse-toggle {
  position: absolute;
  right: -13px;
  border: 1px solid $color-border-main;
  @include themify(background-color, color-brand-secondary);
  color: #FFF;
  width: 26px;
  height: 40px;
  z-index: 2;
}

.floating-btn {
  position: absolute;
  border: 1px solid $color-border-main;
  @include themify(background-color, color-brand-secondary);
  color: #FFF;
  width: 40px;
  height: 40px;
  bottom: 70px;
  left: 5px;
  z-index: 2;
}
.project-popover {
  width: 300px;
  max-width: 90vw;

  .project-title-container {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-project-item {
    .sidebar-project-item-title {
      font-size: $font-size-standard;
      color: #000;
    }
  
    &:not(.selected):hover .sidebar-project-item-title {
      text-decoration: underline;
    }
  }
}

.horizontal-line {
  @include themify((color, background-color), (color-light-blue, color-light-blue));
  height: 2px;
  width: 100%;
  max-width: 90px;
  margin-left: 4px;
}

.navbar.appbar {
  padding: 0.5rem 2rem;

  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 3;  

  &.simplebar {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  }

}

.app-clock {
  width: 100%;
  text-align: left;
  padding-left: 2rem;
  z-index: 2;
  background-color: #8C1896;
  height: 20px;
  line-height: 20px;
}

.search-bar-container {
  min-width: 30%;
  background-color: $color-bg-auth;

  .search-bar-input-container {
    display: flex;
    align-items: center;
  }

  .material-icons {
    vertical-align: bottom;
  }

  .search-bar {
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    padding: 0.5rem;
    flex-grow: 1;
  }

  .search-bar-budget-build-up {
    background-color: transparent;
    border: 1;
    font-size: 1rem;
    padding: 0.5rem;
    flex-grow: 1;
  }
}

.search-bar-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;

  input.search-input:focus {
    outline: none;
  }

  .search-input {
    width: 100%;
    margin: 0 16px;
  }

  &:focus-within {
    border: 1px solid $color-brand-secondary !important;
  }
}

@media (min-width:320px)  {
  .nav-background-container {
    background-color: $color-bg-auth;
    border: 1px solid #dee2e6;
    width: 40%;
  }

  .nav-item-border {
    display: flex;
    border-bottom: 1px solid #dee2e6;
  }

  .nav-logo-border img {
    display: flex;
    width: 50px; 
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at left, #FF5A5F, #8C1896);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}

@media (min-width:992px) {
  .nav-background-container {
    align-items: center;
    border: 0;
    background-color: #FFF;
    width: auto;
  }

  .nav-item-border {
    border-bottom: 0;
  }
}

.nav-tabs .nav-link {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.loading-bar {
  @include themify-gradient();
  height: 3px;
}

.appbar-module-container {
  .orange {
    @include themify('background-color', color-brand-primary);
    @include themify('border-color', color-brand-primary);
  }

  .brand-mix {
    @include themify((background-color, border-color), (color-brand-mix, color-brand-mix));
  }

  .purple {
    @include themify('background-color', color-brand-secondary);
    @include themify('border-color', color-brand-secondary);
  }

  .bright-green {
    background-color: $green-cyan;
    border-color: $green-cyan;
  }

  .light-orange {
    background-color: $light-orange;
    border-color: $light-orange;
  }
}

.appbar-module-border {
  border-bottom: 4px #000 solid;
}

.appbar-module-icon {
  width: 35px;
  height: 35px;
}

.appbar-module {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 360px;
  max-width: 90vw;
}

.appbar-moduleitem {
  line-height: 1.1;
  display: block;
  flex: 0 0 33.33333%;

  padding-top: 1rem;
  padding-bottom: 1rem;

  img {
    height: 42px;
    width: 42px;
    object-fit: contain;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.appbar-module-subscription {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.appbar-profile-thumb {
  height: 36px;
  width: 36px;
  line-height: 36px;
}

.appbar-profile-container {
  width: 400px;
  max-width: 90vw;
  line-height: 1.1;

  .appbar-profile-popup-thumb {
    height: 76px;
    width: 76px;
    line-height: 76px;
    font-size: 1.7rem;
  }

  .appbar-profile-company-thumb {
    height: 76px;
    width: 76px;
    line-height: 64px;
    font-size: 1.5rem;
  }

  &.appbar-medium-container {
    min-width: 300px;
  }
}

.thumb-initial-32 {
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 1rem;
}

.thumb-initial-44 {
  height: 44px;
  width: 44px;
  line-height: 44px;
  font-size: 1rem;
}

.thumb-initial-64 {
  height: 64px;
  width: 64px;
  line-height: 64px;
  font-size: 1.5rem;
}

.thumb-initial-76 {
  height: 76px;
  width: 76px;
  line-height: 76px;
  font-size: 1.7rem;
}

.thumb-initial-126 {
  height: 126px;
  width: 126px;
  line-height: 126px;
  font-size: 1.7rem;
}

.thumb-initial-176 {
  height: 176px;
  width: 176px;
  line-height: 126px;
}
.thumb-initial-150 {
  height: 150px;
  width: 100%;
  max-width: 180px;
  line-height: 150px;
  font-size: 1.7rem;
}

.edit-company-thumb {
  height: 128px;
  width: 128px;
  line-height: 128px;
  font-size: 2rem;
}

.file-display-thumb {
  width: 100%;
  padding: 0 2px;
  height: 128px;
  object-fit: scale-down;
}

.image-display-thumb {
  width: 120px;
  padding: 0 2px;
  object-fit: scale-down;
}

.file-display-small-thumb {
  height: 24px;
  width: 24px;
  object-fit: contain;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: -webkit-fill-available;
  // default padding size for col
  padding-left: 15px;
  padding-right: 15px;
}

.file-upload-xs-container {
  @extend .file-upload-container;
  @media (max-width:320px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.initial-thumbnail {
  background-color: $color-bg-auth;
  color: $color-text-default;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
  object-fit: fill;
}

.thumbnail-company {
  background-color: #8c1896;
  color: white;
  border-radius: 100%;
  text-align: center;
  object-fit: fill;
}

.project-image {
  height: 76px;
  width: 76px;
  line-height: 76px;
  font-size: 1.7rem;
  vertical-align: middle;
}

.initial-thumbnail-square {
  background-color: white;
  color: $color-text-default;
  border-radius: 0%;
  vertical-align: middle;
  text-align: center;
  object-fit: contain;
}


.scale-img {
  object-fit: scale-down;
}

.container-addcompany {
  .navbar-brand img {
    height: 30px;
  }
}

.app-page-container {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navbar-brand img {
    height: 30px;
    width: auto;
  }

  .app-page-body {
    display: flex;
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }

  .app-page-content {
    flex: 1 1 auto;
    overflow-x: auto;
  }

  .app-card {
    box-shadow: none;
    -webkit-box-shadow: none;

    border: 1px #dee2e6 solid;
  }

  .app-page-footer {
    padding: 0.5rem 0.5rem;

    color: #fff;
    @include themify(background-color, color-brand-secondary);
  }
}

.list-card {
  box-shadow: none;
  padding-bottom: 0;

  overflow-y: auto;
}

.list-item-selected {
  background-color: $color-bg-auth;
  border-left: 3px solid;
  @include themify(border-color, color-brand-secondary);
}

.filter-popout-container {
  width: 300px;
  line-height: 1.1;
}

.border-bottom-purple {
  border-bottom: 3px solid;
  border-bottom-color: #8E15D2;
}

.two-column-layout-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .page-header {
    /* Reserve 1px for border */
    min-height: 48px;
  }

  .two-column-layout-body {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;

    .left-column {
      flex: 0 0 22%;
      position: relative;
      overflow-x: visible;
      display: flex;
      flex-direction: column;

      .collapse-toggle {
        top: 50px;
        overflow-x: visible;
      }

      &.column-collapsed {
        flex: 0;

        .collapse-hide {
          display: none !important;
        }
      }
    }

    .right-column {
      flex: 1 0 auto;
      width: 0; // Specifying makes the scrollbar work, not too sure why though.
      display: flex;
      flex-direction: column;
    }

    .right-column-content {
      flex-grow: 1;
      height: 0; // Specifying makes the scrollbar work, not too sure why though.
      overflow-x: auto; // Need to specify this for BQ Tab to work
      overflow-y: auto;
    }
  }
}

@media (max-width: 767px) {
  .two-column-layout-container .two-column-layout-body {
    .left-column {
      flex: 1 0 100%;

      .collapse-toggle {
        display: none;
      }
    }
  }
}

.scrollable-list-content {
  flex-grow: 1;
  height: 0; // Specifying makes the scrollbar work, not too sure why though.
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollable-list-filter {
  min-height: 48px;
  display: flex;
  width: 100%;
  align-items: center;
}

.center-right-column {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  height: auto;
  width: auto;
}

.shadow {
  box-shadow: 0 0 13px 0 #8A8A8A;
}

.shadow-purple {
  @include themify((box-shadow, -webkit-box-shadow), (color-light-purple, color-light-purple), null, 0 2px 5px 2px);
}

.list-height {
  height: calc(100vh - #{$navbar-height} - #{$page-header-height});
  overflow: auto;
}

.chat-height {
  height: calc(100vh - #{$navbar-height} - #{$page-header-height} - #{$right-column-header-height});
  display: flex;
  flex-direction: column;
}

.convo-height {
  flex: 1;
  overflow: auto;
}

.text-box-height {
  height: $chat-box-height;
}

.bg-gray {
  background-color: $color-bg-auth;
}

.bg-dark-gray {
  background-color: $color-text-default;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-must-yellow {
  background-color: $yellow !important
}

.bg-orange {
  background-color: $color-brand-light;
}

.bg-blue {
  @include themify(background-color, color-bright-blue);
}

.bg-red {
  background-color: $color-brand-primary;
}

.bg-light-red {
  background-color: #fd7277 !important;
}

.bg-purple {
 background-color: #8C1896; 
}
 
.bg-light-orange {
 background-color: #FF5A5F; 
}

.bg-border {
  background-color: $color-border-main;
}

.bg-biege {
  background-color: #efebe8;
}

.bg-light-purple {
  @include themify(background-color, color-light-purple);
}

.bg-brand {
  @include themify-gradient();
}

.bg-gradient-blue {
  background-image: linear-gradient(310deg ,#2152ff, #21d4fd);
}

.bg-gradient-green {
  background-image: linear-gradient(310deg ,#17ad37, #98ec2d);
}

.bg-gradient-red {
  background-image: linear-gradient(310deg ,#ea0606, #ff667c);
}

.border-radius-2 {
  border-radius: 2px;
}

.nav-link.disabled {
  &:hover {
    color: #bbb !important;
    cursor: default;
  }
}

.no-min-height {
  min-height: 20px !important;
}

.scrollable-tab {
  display: flex;
  min-height: 50px;
  text-align: center;
  align-content: stretch;
  overflow-x: auto;
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.15);

  .scrollable-tab-item {
    border: 1px solid $color-border-main;
    width: 300px;

    flex: 1 0 auto;

    button {
      width: 100%;
      height: 100%;
      padding: 10px;
    }

    .arrow-button {
      cursor: pointer;
      opacity: 0;   
      color:  $color-text-default;

      &:hover {
        @include themify(color, color-brand-secondary);
      }

      &.disabled {
        color: #ccc;
      }
     }
    
    // hover for tab button
    &:hover {
      .arrow-button {
        opacity: 1;
      }
    }

    &.selected {
      background-color: $color-border-main;
      border-bottom: 3px solid;
      @include themify(border-bottom-color, color-brand-secondary);

      button {
        font-weight: 600;
      }
    }

    &.selected-and-modified {
      background-color: $light-purple;
      border-bottom: 3px solid;
      @include themify(border-bottom-color, color-brand-secondary);

      button {
        font-weight: 600;
      }
    }
  }
}

.z-index-999 {
  z-index: 999 !important;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-5 {
  z-index: 5 !important;
}

.z-index-10 {
  z-index: 10 !important;
}

.pill-container {
  display: flex;
  align-items: center;
  color: #000;
  border-radius: 5rem;
  margin: 0.25rem;
  padding: 0.5rem 0.7rem;
  width: 150px;
  max-width: 100%;
}

.card-bottom-shadow {
  box-shadow: 0 4px 2px -2px #DCDCDC;
}

.card-actual-cost {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 2px -2px #DCDCDC;
}

.quicklink {
  width: 40px;
  height: 40px;
  margin: 0 0.25rem 0.25rem 0;
  cursor: pointer;
}

.opaque-0 {
  opacity: 0;
}

.w-60 { 
  width: 60%;
}

.w-65px {
  width: 65px;
}

.w-80px {
  width: 80px;
}

.w-100px {
  width: 100px;
}

.module-card {
  min-height: 0px;
  border:solid 1px;
  @include themify('border-color', color-brand-primary);

  .card{
    width: 100%;
    text-align: center;
  }
    .card-body{
      min-height: 200px;
    }
    .card-body:hover  {
      min-height: 200px;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition:all 0.3s ease;
      transform: scale(0.98);
      @include themify-gradient();
      color: white;
      text-align: center;
    }
}

.progress-card{
  @include themify-gradient();
}

.accordion-dropdown-container > a {
  display: block;
  position: relative;
}

.accordion-dropdown-container > a:after {
  content: "+";
  position: absolute;
  top: 0;
  right: 0;
}

.accordion-dropdown-container > a[aria-expanded="true"]:after {
  content: "—";
}

.answer-container {
  padding: 2rem;
  background-color: #f1e7f3;
}

.carousel-indicators-numbers > li {
    text-indent: 0;
    text-align: center;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    line-height: 30px;
    color: #fff;
    background-color: #999;
    transition: all 0.25s ease;
    &.active, &:hover {
      margin: 0 2px;
      width: 30px;
      height: 30px;
      @include themify(background-color, color-bright-blue);
    }  
}

.carousel-image {
  background-size: cover;
  width: 100%;
  object-fit: cover;
}


.build-up-search-create-item {
  padding: 10px 20px;

  &.add-border {
    border: 1px solid #c0c0c0;
  }
}

.sticky-control {
  left: 0;
  bottom:0;
  width: 100%;
  position: fixed;
  align-items: center;
  padding: 1.5rem 1.5rem;
  z-index: 1;
}

.sticky-bg {
  @include themify-gradient();
  box-shadow: 0 -2px 30px rgba(10, 10, 10, 0.49);
}

.sticky-bg-white {
  background-color: $white;
  box-shadow: 0 -2px 30px rgba(10, 10, 10, 0.49);
}

.sticky-control > button {
  border-radius: 8px;
  min-width: 150px;
}

.member-modal-column {
  flex: 1 1 50%;
}

.no-task-screen-icon {
  height: 60px;
}

.w-20 {
  width: 20%;
}

.w-60 {
  width: 60%;
}

.break-word {
  word-break: break-word;
  overflow-wrap: break-word;
}

li a.tab-error:before {
  font-family: "Material Icons";
  content: "error";
  vertical-align: bottom;
  padding-right: 5px;
  color: $crimson-red;
}

li a.tab-success:before {
  font-family: "Material Icons";
  content: "check_circle";
  vertical-align: bottom;
  padding-right: 5px;
  color: $primary-green;
}

li a.tab-item-success:before { 
  font-family: "Material Icons";
  content: "done";
  vertical-align: middle;
  padding-right: 8px;
  color: $primary-green;
  font-weight: bold;
}

li a.tab-item-error:before { 
  font-family: "Material Icons";
  content: "clear";
  vertical-align: middle;
  padding-right: 8px;
  color: $crimson-red;
  font-weight: bold;
}

div.tab-item-error:before { 
  font-family: "Material Icons";
  content: "clear";
  vertical-align: middle;
  padding-right: 8px;
  color: $crimson-red;
  font-weight: bold;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.no-wrap { 
  white-space: nowrap;
}

.notification-bell {
  position: relative;

  .notification-unread {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-brand-light;
    color: #FFF;
    font-size: $font-size-extra-small;
    line-height: $font-size-extra-small;

    padding: 2px;
    border-radius: 2px;
  }
}

.quotation-comment {
  position: relative;

  .quotation-comment-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-brand-light;
    color: #FFF;
    font-size: $font-size-extra-small;
    line-height: $font-size-extra-small;

    padding: 2px;
    border-radius: 2px;
  }
}

.notification-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  max-width: 90vw;

  overflow: auto;
  max-height: 500px;

  .notification-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 5px;

    &.unread {
      @include themify(background-color, color-light-purple);
    }

    &:hover {
      background-color: $stone-gray;
    }

    .notification-content {
      flex-grow: 1;
      margin: 2px 0;
      font-size: $font-size-standard;
    }

    .notification-sub {
      font-size: $font-size-small;
      color: $color-text-default;
    }
  }
}

.build-up-search-container {
  width: 350px;
  max-width: 90vw;

  padding: 2rem;

  overflow: auto;
  height: 400px;
  max-height: 500px;
}

.hover-gray:hover {
  background-color: $stone-gray;
}

.subscription-plan-row {
  display: flex;
  flex-wrap: wrap;

  > div:nth-of-type(1) {
    flex-basis: 175px;
  }
}

.overflow-visible {
  overflow: visible;
}

.editable-label-icon {
  vertical-align: middle;
  font-size: 12px !important;
  @include themify(color, color-brand-secondary);
}

.tender-comparison-page-content-container {
  $left-section: 500px;
  $horizontal-border: 3px solid $color-border-main;
  $vertical-border: 1px solid $color-border-main;

  $grey-main: $color-bg-auth;
  $grey-deep: $color-border-main;

  $flex-header-left-column: 3 0 $left-section;
  $flex-item-column-item: 0 0 50px;
  $flex-item-column-description: 3 0 250px;
  $flex-item-column-qty: 0 0 100px;
  $flex-item-column-unit: 0 0 100px;

  $item-column-width: 100px;
  $flex-item-column: 2 0 ($item-column-width * 2);
  $flex-item-content-column: 1 0 $item-column-width;

  flex-grow: 1;
  min-width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;

  .total-company-line {
    display: flex;
    align-items: center;
    height: 50px;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      width: 100%;
      height: 100%;
      background-color: $grey-main;
    }

    > div:last-child {
      flex: 8 0 ($item-column-width * 8);
    }
  }

  .company-line {
    display: flex;

    > div {
      border-top: $vertical-border;
    }

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 20px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: $grey-main;
      text-align: center;
      font-weight: 700;
    }
  }

  .document-line {
    display: flex;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-item;
      padding-left: 20px;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-description;
      padding-left: 20px;
      text-align: left;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(4) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 5) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
    }
  }

  .summary-line {
    display: flex;
    text-transform: none;
    white-space: nowrap;
    font-weight: 700;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
      padding-right: 8px;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;

      text-align: center;
    }

    > div {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &.first-line > div {
      padding-top: 15px;
      font-size: $font-size-subtitle;
    }

    &.last-line > div {
      padding-bottom: 15px;
    }
  }

  .item-line {
    display: flex;
    text-align: center;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-item;
      padding-left: 20px;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-description;
      text-align: left;
      padding-left: 20px;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(4) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 5) {
      flex: $flex-item-content-column;

      &:nth-of-type(even) {
        border-right: $horizontal-border;
      }
    }

    &.last-line > div {
      border-bottom: 1px solid $color-border-main;
    }
  }

  .item-header-line {
    > div:nth-of-type(1),
    > div:nth-of-type(2),
    > div:nth-of-type(3),
    > div:nth-of-type(4) {
      background-color: $grey-deep;
    }

    > div:nth-of-type(n + 5) {
      background-color: $grey-main;
    }
  }
}

.tender-trade-comparison-page-content-container {
  $left-section: 570px;
  $horizontal-border: 3px solid $color-border-main;
  $vertical-border: 1px solid $color-border-main;

  $grey-main: $color-bg-auth;
  $grey-deep: $color-border-main;

  $flex-header-left-column: 3 0 $left-section;
  $flex-item-column-collection: 0 0 80px;
  $flex-item-column-item: 0 0 70px;
  $flex-item-column-description: 3 0 245px;
  $flex-item-column-qty: 0 0 100px;
  $flex-item-column-unit: 0 0 75px;

  $item-column-width: 120px;
  $flex-item-column: 2 0 ($item-column-width * 2);
  $flex-item-content-column: 1 0 $item-column-width;

  flex-grow: 1;
  min-width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;

  .total-company-line {
    display: flex;
    align-items: center;
    height: 50px;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      width: 100%;
      height: 100%;
      background-color: $grey-main;
    }

    > div:last-child {
      flex: 8 0 ($item-column-width * 8);
    }
  }

  .company-line {
    display: flex;

    > div {
      border-top: $vertical-border;
    }

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: $grey-main;
      text-align: center;
      font-weight: 700;
    }
  }

  .company-line-add {
    display: flex;

    > div {
      border-top: $vertical-border;
    }

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: $grey-main;
      text-align: center;
      font-weight: 700;
    }
  }

  .document-line {
    display: flex;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-collection;
      padding-left: 20px;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-item;
      padding-left: 20px;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-description;
      padding-left: 20px;
      text-align: left;
    }

    > div:nth-of-type(4) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(5) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 6) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
    }

    &.last-line > div {
      padding-bottom: 15px;
    }
  }

  .summary-line {
    display: flex;
    text-transform: none;
    white-space: nowrap;
    font-weight: 700;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
      padding-right: 8px;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;

      text-align: center;
    }

    > div {
      padding: 2px 0;
    }

    &.first-line > div {
      padding-top: 15px;
      font-size: $font-size-subtitle;
    }

    &.last-line > div {
      padding-bottom: 15px;
    }

    .currency-container {
      flex-direction: column;

      .header-currency {
        font-size: 20px;
      }

      .subheader-currency {
        color: $color-brand-secondary;
      }
    }
  }

  .item-line {
    display: flex;
    text-align: center;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-collection;
      padding-left: 20px;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-item;
      padding-left: 20px;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-description;
      text-align: left;
      padding-left: 20px;
    }

    > div:nth-of-type(4) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(5) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 6) {
      flex: $flex-item-content-column;

      &:nth-of-type(odd) {
        border-right: $horizontal-border;
      }
    }

    &.last-line > div {
      border-bottom: 1px solid $color-border-main;
    }
  }

  .addendum-summary-line {
    display: flex;
    text-transform: none;
    white-space: nowrap;
    font-weight: 700;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
      padding-right: 8px;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;

      text-align: center;
    }

    > div {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &.first-line > div {
      padding-top: 15px;
      font-size: $font-size-subtitle;
    }

    &.last-line > div {
      padding-bottom: 15px;
    }
  }

  .addendum-item-line {
    display: flex;
    text-align: center;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-collection;
      padding-left: 20px;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-item;
      padding-left: 20px;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-description;
      text-align: left;
      padding-left: 20px;
    }

    > div:nth-of-type(4) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(5) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 6) {
      flex: $flex-item-content-column;

      &:nth-of-type(odd) {
        border-right: $horizontal-border;
      }
    }

  }

  .item-header-line {
    > div:nth-of-type(1),
    > div:nth-of-type(3),
    > div:nth-of-type(4),
    > div:nth-of-type(5) {
      background-color: $grey-deep;
    }

    > div:nth-of-type(2) {
      background-color: $grey-deep;
      padding-left: 10px;
    }

    > div:nth-of-type(n + 6) {
      background-color: $grey-main;
    }
  }
}

.tender-trade-addendum-page-content-container {
  $left-section: 610px;
  $horizontal-border: 3px solid $color-border-main;
  $vertical-border: 1px solid $color-border-main;

  $grey-main: $color-bg-auth;
  $grey-deep: $color-border-main;

  $flex-header-left-column: 0 0 $left-section;
  $flex-item-column-collection: 0 0 80px;
  $flex-item-column-item: 0 0 70px;
  $flex-item-column-description: 0 0 ($left-section - 325px);
  $flex-item-column-qty: 0 0 100px;
  $flex-item-column-unit: 0 0 75px;

  $item-column-width: 125px;
  $flex-item-column: 0 0 ($item-column-width * 2);
  $flex-item-content-column: 0 0 $item-column-width;

  flex-grow: 1;
  min-width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;

  .total-company-line {
    display: flex;
    align-items: center;
    height: 50px;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      width: 100%;
      height: 100%;
      background-color: $grey-main;
    }

    > div:last-child {
      flex: 8 0 ($item-column-width * 8);
    }
  }

  .company-line {
    display: flex;

    > div {
      border-top: $vertical-border;
    }

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: $grey-main;
      text-align: center;
      font-weight: 700;
    }
  }

  .company-line-add {
    display: flex;

    > div {
      border-top: $vertical-border;
    }

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: $grey-main;
      text-align: center;
      font-weight: 700;
    }
  }

  .document-line {
    display: flex;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-collection;
      padding-left: 20px;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-item;
      padding-left: 20px;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-description;
      padding-left: 20px;
      text-align: left;
    }

    > div:nth-of-type(4) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(5) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 6) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
    }

    &.last-line > div {
      padding-bottom: 15px;
    }
  }

  .summary-line {
    display: flex;
    text-transform: none;
    white-space: nowrap;
    font-weight: 700;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
      padding-right: 8px;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;

      text-align: center;
    }

    > div {
      padding: 2px 0;
    }

    &.first-line > div {
      padding-top: 15px;
      font-size: $font-size-subtitle;
    }

    &.last-line > div {
      padding-bottom: 15px;
    }

    .currency-container {
      flex-direction: column;

      .header-currency {
        font-size: 20px;
      }

      .subheader-currency {
        color: $color-brand-secondary;
      }
    }
  }

  .item-line {
    display: flex;
    text-align: center;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-collection;
      padding-left: 20px;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-item;
      padding-left: 20px;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-description;
      text-align: left;
      padding-left: 20px;
    }

    > div:nth-of-type(4) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(5) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 6) {
      flex: $flex-item-content-column;

      &:nth-of-type(odd) {
        border-right: $horizontal-border;
      }
    }

    &.last-line > div {
      border-bottom: 1px solid $color-border-main;
    }
  }

  .addendum-summary-line {
    display: flex;
    text-transform: none;
    white-space: nowrap;
    font-weight: 700;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
      padding-right: 8px;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;

      text-align: center;
    }

    > div {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &.first-line > div {
      padding-top: 15px;
      font-size: $font-size-subtitle;
    }

    &.last-line > div {
      padding-bottom: 15px;
    }
  }

  .addendum-item-line {
    display: flex;
    text-align: center;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-collection;
      padding-left: 20px;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-item;
      padding-left: 20px;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-description;
      text-align: left;
      padding-left: 20px;
    }

    > div:nth-of-type(4) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(5) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 6) {
      flex: $flex-item-content-column;

      &:nth-of-type(odd) {
        border-right: $horizontal-border;
      }
    }

  }

  .addendum-header-line {
    display: flex;
    text-align: center;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-collection;
      padding-left: 20px;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-item;
      padding-left: 20px;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-description;
      text-align: left;
      padding-left: 20px;
    }

    > div:nth-of-type(4) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(5) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 6) {
      flex: $flex-item-content-column;

      &:nth-of-type(odd) {
        border-right: $horizontal-border;
      }
    }

  }

  .item-header-line {
    > div:nth-of-type(1),
    > div:nth-of-type(3),
    > div:nth-of-type(4),
    > div:nth-of-type(5) {
      background-color: $grey-deep;
    }

    > div:nth-of-type(2) {
      background-color: $grey-deep;
      padding-left: 10px;
    }

    > div:nth-of-type(n + 6) {
      background-color: $grey-main;
    }
  }
}

.tender-comparison-summary-page-content-container {
  $left-section: 530px;
  $horizontal-border: 3px solid $color-border-main;
  $horizontal-trade-code-border: 280px solid $color-border-main;
  $vertical-border: 1px solid $color-border-main;

  $grey-main: $color-bg-auth;
  $grey-deep: $color-border-main;

  $flex-header-left-column: 3 0 $left-section;
  $flex-item-column-description: 3 0 $left-section - 230px;
  $flex-item-column-qty: 0 0 100px;
  $flex-item-column-unit: 0 0 100px;
  $flex-header-collection-column: 3 0 $left-section - 100px;
  $flex-item-column-trade-code: 0 0 $left-section - 380px;
  $flex-item-column-trade-code-description: 3 0 200px;


  $item-column-width: 120px;
  $flex-item-column: 2 0 ($item-column-width * 2);
  $flex-item-content-column: 1 0 $item-column-width;

  flex-grow: 1;
  min-width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;

  .total-company-line {
    display: flex;
    align-items: center;
    height: 50px;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      width: 100%;
      height: 100%;
      background-color: $grey-main;
    }

    > div:last-child {
      flex: 8 0 ($item-column-width * 8);
    }
  }

  .company-line {
    display: flex;

    > div {
      border-top: $vertical-border;
    }

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      justify-content: space-between;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: $grey-main;
      text-align: center;
      font-weight: 700;
    }
  }

  .document-line {
    display: flex;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-item-column-description;
      padding-left: 20px;
      text-align: left;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
    }
  }

  .summary-line {
    display: flex;
    text-transform: none;
    white-space: nowrap;
    font-weight: 700;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
      padding-right: 8px;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      text-align: center;
    }

    > div {
      padding: 2px 0;
    }

    &.first-line > div {
      font-size: $font-size-subtitle;
    }

    &.last-line > div {
      padding-bottom: 15px;
    }
  }

  .item-header-line {
    display: flex;
    height: 40px;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-header-left-column;
      padding-left: 20px;
      text-align: left;
      background-color: $grey-deep;
      border-right: $horizontal-border;
      padding-right: 20px;
      align-items: center;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      text-align: center;
      background-color: $grey-main;
      border-right: $horizontal-border;
    }
  }

  .item-header-trade-code-line {
    display: flex;
    height: 40px;

    > div {
      padding: 10px 0;
    }

    > div:nth-of-type(1) {
      flex: $flex-header-left-column;
      padding-left: 20px;
      text-align: left;
      background-color: $grey-deep;
      border-right: $horizontal-trade-code-border;
      padding-right: 20px;
      align-items: center;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      text-align: center;
      background-color: $grey-main;
      border-right: $horizontal-border;
    }
  }

  .item-line {
    display: flex;
    height: 50px;


    > div:first-child {
      display: flex;
      flex: $flex-header-left-column;
      border-right: $horizontal-border;
      text-align: left;
      display: flex;
      padding: 10px 0;

      > div:nth-of-type(1) {
        flex: $flex-header-collection-column;
        text-align: left;
      }
      > div:nth-of-type(2) {
        flex: $flex-item-column-unit;
        text-align: left;
      }
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 20px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;
    }
  }

  .item-trade-code-line {
    display: flex;
    text-align: center;

    > div {
      padding: 10px 0;
    }

    > div:first-child {
      display: flex;
      flex: $flex-header-left-column;
      border-right: $horizontal-border;
      text-align: left;
      display: flex;
      padding: 10px 0;

      > div:nth-of-type(1) {
        flex: $flex-item-column-trade-code;
        padding-left: 20px;
      }
      > div:nth-of-type(2) {
        flex: $flex-item-column-trade-code-description;
      }
      > div:nth-of-type(3) {
        flex: $flex-item-column-qty;
      }
      > div:nth-of-type(4) {
        flex: $flex-item-column-unit;
      }
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .item-content-line {
    display: flex;

    > div:first-child {
      display: flex;
      flex: $flex-header-left-column;
      border-right: $horizontal-border;
      text-align: left;
      display: flex;
      padding: 10px 0;

      > div:nth-of-type(1) {
        flex: $flex-header-collection-column;
        text-align: left;
      }
      > div:nth-of-type(2) {
        flex: $flex-item-column-unit;
        text-align: left;
      }
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 20px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: right;
    }
  }

  .item-difference-line {
    display: flex;

    > div {
      padding: 10px 0;
      border-top: $vertical-border;
      background-color: $grey-main;
      border-bottom: $vertical-border;
    }

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;
      display: flex;
      justify-content: space-between;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-weight: 700;
    }
  }
}


.tender-comparison-bottom-filler-line {
  height: 100px;
}

.tender-technical-comparison-page-content-container {
  $left-section: 500px;
  $horizontal-border: 3px solid $color-border-main;
  $vertical-border: 1px solid $color-border-main;

  $grey-main: $color-bg-auth;
  $grey-deep: $color-border-main;

  $flex-header-left-column: 3 0 $left-section;
  $flex-item-column-description: 3 0 $left-section - 200px;
  $flex-item-column-qty: 0 0 100px;
  $flex-item-column-unit: 0 0 100px;

  $item-column-width: 120px;
  $flex-item-column: 2 0 ($item-column-width * 2);
  $flex-item-content-column: 1 0 $item-column-width;

  flex-grow: 1;
  min-width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;

  .total-company-line {
    display: flex;
    align-items: center;
    height: 50px;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      width: 100%;
      height: 100%;
      background-color: $grey-main;
    }

    > div:last-child {
      flex: 8 0 ($item-column-width * 8);
    }
  }

  .company-line {
    display: flex;

    > div {
      border-top: $vertical-border;
    }

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;
      padding: 20px 0;

      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: $grey-main;
      text-align: center;
      font-weight: 700;
    }
  }

  .summary-line {
    display: flex;
    text-transform: none;
    white-space: nowrap;
    font-weight: 700;

    > div:first-child {
      flex: $flex-header-left-column;
      border-right: $horizontal-border;

      display: flex;
      flex-direction: row-reverse;
      padding-right: 8px;
    }

    > div:nth-of-type(n + 2) {
      flex: $flex-item-column;
      border-right: $horizontal-border;

      text-align: center;
    }

    > div {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &.first-line > div {
      padding-top: 15px;
      font-size: $font-size-subtitle;
    }

    &.last-line > div {
      padding-bottom: 15px;
    }
  }
  
  .item-last-line {
    display: flex;
    text-align: center;

    > div {
      padding: 10px 0;
    }
    > div:nth-of-type(1) {
      flex: $flex-item-column-unit;
    }

    > div:nth-of-type(2) {
      flex: $flex-item-column-description;
      padding-left: 20px;
      text-align: left;
    }

    > div:nth-of-type(3) {
      flex: $flex-item-column-qty;
      border-right: $horizontal-border;
    }

    > div:nth-of-type(n + 4) {
      flex: $flex-item-content-column;

      &:nth-of-type(odd) {
        border-right: $horizontal-border;
      }
    }
  }

  .item-header-line {
    > div:nth-of-type(1),
    > div:nth-of-type(2),
    > div:nth-of-type(3) {
      background-color: $grey-deep;
    }

    > div:nth-of-type(n + 4) {
      background-color: $grey-main;
    }
  }
}

.app-subscription-limit {
  width: 100%;
  text-align: left;
  padding-left: 2rem;
  z-index: 2;
  border-bottom: 1px solid $color-border-main;
  color: #fff;
  @include themify(background-color, color-brand-primary);
  height: 30px;
  line-height: 30px;
}

.app-subscription-exceeding {
  width: 100%;
  text-align: left;
  padding-left: 2rem;
  z-index: 2;
  border-bottom: 1px solid $color-border-main;
  color: #fff;
  background-color: $light-orange;
  height: 30px;
  line-height: 30px;
}

.appbar-module-scrollbar {
  .container  {
    height: 600px;
    width: 360px;
    max-width: 90vw;
    display: block;
    overflow: auto;
    background-color: #fff;
    padding-top:0;
  }

   /* width */
  .container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  .container::-webkit-scrollbar-track {
    background: none; 
  }
  
  /* Handle */
  .container::-webkit-scrollbar-thumb {
    background: rgb(175, 61, 228); 
  }

  /* Handle on hover */
  .container::-webkit-scrollbar-thumb:hover {
    background: purple; 
  }
}

.registration-card-button {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;

  &.selected {
    border: 1px solid $color-brand-secondary;
  }

  &:hover{
    background-color: #EAECEE ;
  }

  // This image css is to tally with other images
  .image-137 {
    width: 137.81px !important;
    align-self: center;
  }
}

.document-upload-container {
  background-color: #FFFFFF;
  border: 2px solid #8C1896;
  color: #000000;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 95%;
  border-radius: 12px;
  box-shadow: 10px 10px 0px -5px rgba(140,24,150,1);
}

.registration-suppliers-container {
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  height: 100%;
  cursor: pointer;
  border-radius: 12px;
  &.selected {
    background-color: #8C1896;
    color: #FFF;
  }
}

.registration-shareHolder-icon {
  width: 90%;
  height: 100%;
}

.registration-avatar {
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.registration-section-card {
  background-color: #FFFFFF;
  box-shadow: 10px 10px 0px -5px $light-purple;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  border: 3px solid #8C1896;
  background-color: #f5eaf5;
  box-shadow: 10px 10px 0px -5px rgba(140,24,150,1) !important;
}

.developer-bar {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
  z-index: 2;
  border-bottom: 1px solid $color-border-main;
  color: #000000;
  background-color: #ffd49f;
  height: 30px;
  line-height: 30px;
}

.contractor-bar {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
  z-index: 2;
  border-bottom: 1px solid $color-border-main;
  color: #000000;
  background-color: #f2d6f9;
  height: 30px;
  line-height: 30px;
}

.consultant-bar {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
  z-index: 2;
  border-bottom: 1px solid $color-border-main;
  color: #000000;
  background-color: #ffefb5;
  height: 30px;
  line-height: 30px;
}

.supplier-bar {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
  z-index: 2;
  border-bottom: 1px solid $color-border-main;
  color: #000000;
  background-color: #d6e4f9;
  height: 30px;
  line-height: 30px;
}

.registration-card-container {
  background-color: #f5eaf5;
}

div.tender-cover-container {
  p > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

ul.stacked-avatar {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  z-index: 1; 

  li.avatar-item {
    height: 45px;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 45px;

    + li.avatar-item {
      margin-left: -8px;
    }

    img.avatar-image,
    span.avatar-initials,
    span.avatar-others {
      background-color: #596376;
			border: 2px solid white;
			border-radius: 100px;
			color: #FFFFFF;
      font-weight: 700;
			display: block;
			font-size: 12px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			width: 45px;
    }

    span.avatar-others {
      background-color: $color-brand-secondary;
    }
  }
}

.latest-table {
  max-height: 400px;
  display: block;
  overflow: auto;
}

.card.card-button {
  border: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transition: all 0.6s ease;

  .card-header {
    border-radius: 8px 8px 0 0;
    background-color: #fff;
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    .header-title {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      color: #32325d;
    }
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-footer {
    border-radius: 0 0 8px 8px;
  }

  &.selected {
    color:  $color-brand-secondary;
    box-shadow: 0 6px 10px rgba(140, 24, 150, 0.3);
    font-weight: 700;
  }

  &.no-pointer {
    cursor: default;
  }

  &.hoverable:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(140, 24, 150, 0.3);
  }
}

.next-border-left {
  + .next-border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.next-border-up {
  + .next-border-up {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.inline-details {
  .right {
    color: $color-brand-secondary;
    font-weight: 700;
  }

  @media (min-width: 992px) {
    .left {
      float: left;
      width: 30%;
      text-align: left;
    }

    .right {
      float: right;
      width: 69%;
      text-align: right;
    }
  }

  @media (max-width: 991px) {
    .left {
      margin-bottom: 4px;
    }
  }

  + .inline-details {
    margin-top: 8px;
  }
}

.card.custom-card {
  border: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transition: all 0.6s ease;

  .card-img-top {
    min-height: 160px;
    height: 160px;
    max-height: 160px;
    object-fit: cover;
  }

  .card-header {
    border-radius: 8px 8px 0 0;
    background-color: #fff;
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    border: 0;

    .header-title {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      color: #32325d;
    }
  }

  .card-body {
    padding: 1.5rem;
    
    .card-text.long-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  .card-footer {
    border-radius: 0 0 8px 8px;
  }
}

.site-progress-report-detail-container {
  border: 1px solid #8C1896;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.tender-comparison-item {
  width: 1770px !important;
  height: 100px;
  overflow-y: scroll !important; /* Add the ability to scroll */
  overflow-x: hidden !important; /* Hide horizontal scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tender-comparison-item::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tender-comparison-item {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.signature-image {
  width: 100%;
}

.toggle-view {
  display: flex;
  align-items: center;
  min-width: 515px;
  @media (max-width: 855px) {
    align-self: flex-end;
  }
}

.category-list-table-container {
  display: flex;
  flex-direction: row;
  align-items:stretch;
  flex: 6;
  @media (max-width: 1290px) {
    flex-direction: column;
  }
  .checklist {
    flex: 4;
    @media (max-width: 1290px) {
      width: 95%;
      flex: 6;
      min-height: 500px;
    }
  }
  .preview {
    flex: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    @media (max-width: 1290px) {
      width: 95%;
      flex: 6;
      margin-left: 45px;
      margin-top: 20px;
      min-height: 500px;
      margin-bottom: 20px;
    }
  }
}

.category-checklist-option-bar {
  display: flex;
  flex-direction: row;
  @media (max-width: 715px) {
    display: none;
  }
}

.toggle-view-container {
  margin-top: -12px;
  .content {
    font-size: 15px;
  }
  .inner-toggle-view{
    justify-content: space-between;
    @media (max-width: 855px) {
      justify-content: flex-end;
    }
  }
  .search-container {
    background-color: $color-bg-auth;
    padding: 0px;
    margin-top: -2px;
  
    .material-icons {
      vertical-align: bottom;
    }

    #header-search {
      height: 32px;
      border: 0; 
      background-color: transparent; 
    }
  }
}

.category-list-checklist-container {
  max-height: 46px;
}

.hidden-word {
  display: none;
}

.folder-container {
  min-width: 150px;
  .folder{
    height: 55px;
    width: 80px;
  }
}

.category-sheet {
  min-height: 130px;
}

.folder-sheet {
  height: 120px;
}

.category-list-preview {
  margin-top: 5px;
}

.project-checklist-header {
  margin-top: -5px;
}

.project-progress-card {
  margin-top: -15px; 
  height: 38px;
  .chart{
    min-width: 160px;
    margin-right: 15px;
  }
}

.project-checklist-content {
  min-width: 290px;
}

.project-checklist-dot {
  font-size: 5px;
  padding-right: 5px;
}

.project-checklist-details {
  padding-right: 25px;
}

.category-list-title {
  @media (max-width: 855px) {
    display: none;
  }
}

.task-folder-container {
  width: 30px;
  height: 20px; 
}

.empty-container {
  margin: 0px; 
  padding: 5px; 
}

.project-checklist-doc-preview {
  margin-top: -20px;
  .preview-container {
    background-color: #f0f0f0; 
    border-radius: 5px;
    .preview-word {
      font-size: 18px;
    }
    .doc-container {
      min-height: 45vh; 
      .text-doc-container {
        height: 42vh;
      }
    }
  }

}

.edit-category-container {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  @media (max-width: 400px) {
    display: none;
  }
  .edit-pen{
    font-size: 20px;
  }
}

.category-list-edit-container {
  min-width: 300px;
  max-width: 300px;
  .category-list-edit-folder {
    width: 30px;
    height: 20px;
    padding-right: 8px;
  }
}

.mt-negative-10 {
  margin-top: -10px;
}

.category-list-add-document {
  min-width: 66%; 
  max-width: 66%;
  @media (max-width: 1290px) {
    min-width: 98%;
    max-width: 98%;
  }
}