/**
 * toolsPage
 */
.tool-section {

  > .tool { 
      .card {
        border-radius: 0px;
        .card-body {
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
          transition:all 0.3s ease;
          transform: scale(0.98);
          background-color: #6a6767;
          color: white;
        }
      }
    }
}

